html {
    scroll-behavior: smooth;
}
body {
    background: #EFEFF2;
    margin: 0;
    font: 400 18px/26px Inter, sans-serif;
    color: #19191C;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 38px;
}

.header__box {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 68px;
}

@media screen and (max-width: 390px){
    .header__box {
        gap: 20px;
        margin-bottom: 20px;
    }
}

.nav__list {
    display: flex;
    list-style: none;
    gap: 48px;
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
}

.link {
    color: #19191C;
    text-decoration: none;
}

.btn-box {
    display: flex;
    align-items: center;
    gap: 48px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 14px;
    font-weight: 800;
    font-size: 24px;
    line-height: 30px;
    color: #19191C;
    text-decoration: none;
}

.header__link {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #19191C;
    text-decoration: none;
}

.header__btn {
    background-color: #19191C;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #EFEFF2;
    text-decoration: none;
    padding: 12px 37px;
}

@media screen and (max-width: 390px) {
    .header__btn {
        text-align: center;
    }
}

.offer {
    display: flex;
    justify-content: space-between;
    background: url(/img/main_page/young-bearded-gay.png) 130% 100% no-repeat;
    padding-bottom: 216px;
}

.offer__holder {
    width: 648px;
    background: url(../img/main_page/ellipse-left.png) 100% 100% no-repeat;
}

.offer__title {
    font-weight: 700;
    font-size: 58px;
    line-height: 70px;
    color: #19191C;
    padding-bottom: 18px;
}

.offer__description {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #19191C;
    padding-bottom: 62px;
}

.offer__description-link {
    color: #504DEE;
    text-decoration: none;
}

.offer-button {
    background: #504DEE;
    padding: 16px 37px;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #FBFBFC;
    border: none;
    margin-bottom: 110px;
}

.offer__sale {
    font-weight: 700;
    font-size: 58px;
    line-height: 70px;
    color: #19191C;
    margin: 0;
    padding-bottom: 8px;
}

.offer__time {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #19191C;
}

.offer__list {
    position: relative;
    flex-grow: 1;
    list-style: none;
    padding: 0;
    margin: 0;
}

.offer__list-item {
    position: absolute;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #19191C;
    border: 2px solid #19191C;
    padding: 16px 36px;
}

.marketer {
    top: 140px;
    right: 0;
}

.illustrator {
    top: 40px;
    right: 260px;
}

.animator {
    top: 130px;
    left: 150px;
}

.programmer {
    top: 310px;
    left: 10px;
}

.designer {
    left: -113px;
    top: 470px;
}

.photographer {
    top: 650px;
    left: -34px;
}

.learn__wrapper {
    background: #19191C;
    padding-top: 168px;
    padding-bottom: 159px;
}

.learn {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    flex-wrap: wrap;
}

.learn__text {
    width: 588px;
}

@media screen and (max-width: 390px) {
    .learn__text {
        padding-bottom: 20px;
    }
}

.learn__title {
    font-weight: 700;
    font-size: 58px;
    line-height: 70px;
    color: #FBFBFC;
    padding-bottom: 28px;
    margin: 0;
}

.learn__description {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #EFEFF2;
    margin: 0;
}

.learn__description:first-of-type {
    padding-bottom: 24px;
}

.learn__counters {
    display: flex;
    gap: 86px;
}

@media screen and (max-width: 390px) {
    .learn__counters {
        flex-direction: column;
        gap: 20px;
    }
}

.learn__counter-item {
    width: 178px;
    border-bottom: 4px solid #FBFBFC;
    padding-bottom: 22px;
}

.learn__counter-number {
    font-weight: 700;
    font-size: 58px;
    line-height: 70px;
    color: #FBFBFC;
    margin: 0;
}

.learn__counter-description {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #EFEFF2;
    margin: 0;
}

.discover {
    padding: 168px 0 168px;
}

.discover__title {
    width: 594px;
    font-size: 58px;
    font-weight: 700;
    line-height: 70px;
    color: #19191C;
    margin: 0;
    padding-bottom: 45px;
}

@media screen and (max-width: 390px) {
    .discover__title {
        width: inherit;
    }
}

.discover__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 65px;
}

.discover__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 48px;
    list-style: none;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 390px) {
    .discover__list {
        justify-content: center;
        gap: 20px;
        margin-bottom: 20px;
    }
}

.discover__button {
    border: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #19191C;
    padding-left: 0;
    padding-right: 0;
}

.discover__button.active {
    font-weight: 700;
    padding-bottom: 9px;
    line-height: 22px;
    border-bottom: 4px solid #19191C;
}

.discover__nav-link {
    display: flex;
    align-items: center;
    gap: 18px;
    font-weight: 700;
    color: #19191C;
    text-decoration: none;
}

.discover__cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

@media screen and (max-width: 390px) {
    .discover__cards {
        justify-content: center;
    }
}

.discover__cards-item {
    border: none;
}

.discover__cards-item img {
    padding-bottom: 28px;
}

.discover__cards-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 26px;
    color: #19191C;
    margin: 0;
    padding-bottom: 11px;
}

.discover__cards-length {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #6D6D77;
    margin: 0;
}

.find__program-wrapper {
    background: #DEEFE4;
    padding: 168px 0 168px;
}

.find__program {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

@media screen and (max-width: 390px) {
    .discover__cards {
        justify-content: center;
    }
}

.find__program-title {
    width: 561px;
    font-weight: 700;
    font-size: 58px;
    line-height: 70px;
    color: #19191C;
    margin: 0;
    padding-bottom: 28px;
}

@media screen and (max-width: 390px) {
    .find__program-title {
        width: inherit;
    }
    .find__program-text {
        margin-bottom: 20px;
    }
}

.find__program-description {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #19191C;
    margin: 0;
}

.find__program-form {
    display: flex;
    flex-direction: column;
}

.find__program-form input {
    width: 710px;
    border: none;
    border-bottom: 2px solid #19191C;
    background: #DEEFE4;
    padding: 5px 0 5px;
}

input::placeholder {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #19191C;
}

.name {
    margin-bottom: 48px;
}

.email {
    margin-bottom: 68px;
}

.find__program-button {
    width: 147px;
    background: #19191C;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #FBFBFC;
    padding: 16px 36px;
}
.footer {
    background: #19191C;
}

.footer__wrapper {
    padding-top: 68px;
    padding-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contacts {
    display: flex;
    flex-direction: column;
}

.footer__logo {
    display: flex;
    align-items: center;
    gap: 12px;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    color: #FBFBFC;
    text-decoration: none;
    padding-bottom: 43px;
}

.mail, .phone {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #FBFBFC;
    text-decoration: none;
    padding-bottom: 28px;
}

.sitemap {
    display: flex;
    gap: 200px;
}

@media screen and (max-width: 390px) {
    .sitemap {
       flex-direction: column;
       gap: 30px;
    }
    .footer__wrapper {
        padding-bottom: 40px;
    }
    .copyright {
        flex-direction: column;
    }
}

.sitemap__title {
    margin: 0;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #FBFBFC;
    padding-bottom: 28px;
}

.courses, .teachers, .information, .languages {
    display: flex;
    flex-direction: column;
}

.sitemap__list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.sitemap__list-item {
    padding-bottom: 12px;
}

.sitemap__list-link{
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #EFEFF2;
    text-decoration: none;
}

.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 28px;
}

.copyright__link, .copyright__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #EFEFF2;
    margin: 0;
}

.copyright__link {
    text-decoration: none;
}